<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/a13b999530.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/static/css/nev_bar_style.css" />
    <link rel="stylesheet" href="/static/css/mainpw.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <header>
      <a class="logo" href="index.ejs">
        InternBrand.
      </a>
      <nav>
        <ul class="nav_links">
          <li>
            <a href="internships.ejs">Browse Listings</a>
          </li>
          <li>
            <a href="#">Application status </a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
      <a href="students_log.ejs" id="cta">
        <button class="headingbutton">Login</button></a
      >

      <a href="students_reg.ejs" id="cta1">
        <button class="headingbutton" id="register">Register</button></a
      >
    </header>

    <div id="searchbox">
      <input
        id="home_search"
        type="text"
        placeholder="What are you looking for?"
      />
      <button id="searchIcon">
        <i class="fa fa-search"></i>
      </button>
    </div>
    

    <div id="dot"></div>
    <script src="/static/js/nev_bar.js"></script>

   

    <div id="internships" class="container-fluid section">
      <div class="max-width-container">
        <h2>Internships</h2>
        <p class="section_description">
          Apply to 10,000+ internships for free
          <a class="view_all_cta" href="internships.ejs">
            View all internships <i class="ic-24-arrow-right"></i>
          </a>
        </p>
      
        <div class="categories_container">
          <h4>Popular cities</h4>
         
          <div class="categories scrollable_cards">
            <a
              class="internship_card card_item home_tile_city"
              href="internships.ejs"
            >
              <div class="text">Work from home</div>
            </a>
            <a
              class="internship_card card_item home_tile_city"
              href="internships.ejs"
            >
              <div class="text">Delhi</div>
            </a>
            <a
              class="internship_card card_item home_tile_city"
              href="internships.ejs"
            >
              <div class="text">Bangalore</div>
            </a>
            <a
              class="internship_card card_item home_tile_city"
              href="internships.ejs"
            >
              <div class="text">Mumbai</div>
            </a>
            <a
              class="internship_card card_item home_tile_city"
              href="internships.ejs"
            >
              <div class="text">Hyderabad</div>
            </a>
            <a
              class="internship_card card_item home_tile_city"
              href="internships.ejs"
            >
              <div class="text">Chennai</div>
            </a>
            <a
              class="internship_card card_item home_tile_city"
              href="internships.ejs"
            >
              <div class="text">Kolkata</div>
            </a>
            <a
              class="internship_card card_item home_tile_city"
              href="internships.ejs"
            >
              <div class="text">International</div>
            </a>
          </div>
        </div>
      
        <div class="categories_container">
          <h4>Popular categories</h4>

          <div class="categories scrollable_cards">
            <a
              class="internship_card card_item home_tile_category"
              href="internships.ejs"
            >
              <div class="text">Part-time</div>
            </a>
            <a
              class="internship_card card_item home_tile_category"
              href="internships.ejs"
            >
              <div class="text">Engineering</div>
            </a>
            <a
              class="internship_card card_item home_tile_category"
              href="internships.ejs"
            >
              <div class="text">NGO</div>
            </a>
            <a
              class="internship_card card_item home_tile_category"
              href="internships.ejs"
            >
              <div class="text">MBA</div>
            </a>
            <a
              class="internship_card card_item home_tile_category"
              href="internships.ejs"
            >
              <div class="text">Design</div>
            </a>
            <a
              class="internship_card card_item home_tile_category"
              href="internships.ejs"
            >
              <div class="text">Science</div>
            </a>
            <a
              class="internship_card card_item home_tile_category"
              href="internships.ejs"
            >              
              <div class="text">Media</div>
            </a>
            <a
              class="internship_card card_item home_tile_category"
              href="internships.ejs"
            >
             
              <div class="text">Humanities</div>
            </a>
          </div>
        </div>
      </div>
      
  </body>
</html>

<script src="/static/js/search.js"></script>
