<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/a13b999530.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/static/css/nev_bar_style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
  
    <header>
      <a class="logo" href="index.ejs">
        InternBrand.
      </a>
      <nav>
        <ul class="nav_links">
          <li>
            <a href="internships.ejs">Browse Listings</a>
          </li>
          <li>
            <a href="#">Application status </a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </nav>
      <a href="students_log.ejs" id="cta">
        <button class="headingbutton">Login</button></a
      >

      <a href="students_reg.ejs" id="cta1">
        <button class="headingbutton" id="register">Register</button></a
      >
    </header>

 
    <div style="margin-top: 30px"></div>
    <div class="max-width-container">
      <div id="regestration_container">
        <div id="regestration_container_right">
          <div id="google_button_container">
            <div id="google_img_container">
              <img
                src="https://developers.google.com/static/identity/images/branding_guideline_sample_lt_rd_sl.svg"
              />
            </div>
            <div id="google_content"><a href="#">Signup With Google</a></div>
          </div>
          <div id="form_container">
            <div class="helper">
              <div id="google_or"><p>OR</p></div>
            </div>

            <label for="email">Email</label>
            <input
              id="email"
              name="email"
              placeholder=" John@xyz.com"
              class="reg_fields"
            />
            <label for="password">Password</label>
            <input
              id="password"
              name="password"
              placeholder=" Set a password"
              class="reg_fields"
              type="password"
            />

            <label for="firstname">First name</label>
            <input
              id="firstname"
              name="firstname"
              placeholder=" Your first name"
              class="reg_fields"
            />
            <label for="lastname">Last name</label>
            <input
              id="lastname"
              name="lastname"
              placeholder=" Your last name"
              class="reg_fields"
            />

            <p>
              By signing up you agree to
              <span><a href="#">Terms and Conditions</a></span>
            </p>
            <button id="signup_btn" type="submit">Signup</button>

            <p>
              Already Registered ?
              <span><a href="students_log.ejs">Login</a></span>
            </p>
          </div>
        
        </div>
      </div>
    </div>

     </body>
</html>

<script src="/static/js/students_reg.js"></script>
